.DS_Store
.ct_dialyzer.plt
erl_crash.dump
deps/gpio/priv/gpio_drv.so
log/*
apps/sample/log/*
apps/*/ebin/*
apps/*/logs/*
apps/*/test/*.beam
apps/*/log/*
apps/*/deps/*~
apps/*/ebin/*~
apps/*/.rebar
japps/*
ct_test/*
.eunit/
deps/*/ebin
deps/*
backup/*
variables-*
Mnesia.e*
data
doc/*
