.DS_Store
.ct_dialyzer.plt
erl_crash.dump
deps/gpio/priv/gpio_drv.so
log/*
apps/sample/log/*
*.beam
ebin/*
logs/*
test/
log/*
deps/*~
.rebar
ct_test/*
.eunit/
deps/*/ebin
deps/*
backup/*
variables-*
Mnesia.*
data
doc/*
