{erl_opts,[debug_info,
           {parse_transform, lager_transform}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [  
    {lager, {git, "git@github.com:basho/lager.git"}},
    {gproc, {git, "git@github.com:uwiger/gproc.git"}},
  	{erlib, {git, "git@github.com:ulfa/erlib.git"}},
    {erlydtl, {git, "git@github.com:erlydtl/erlydtl.git"}},
    {ibrowse, {git, "git@github.com:cmullaparthi/ibrowse.git"}},
    {jiffy,  {git, "git@github.com:davisp/jiffy.git"}},
    {fnotify, {git, "git@github.com:Feuerlabs/fnotify.git"}},    
  	{webmachine, {git, "git://github.com/basho/webmachine"}},
    {exometer,  {git, "git@github.com:Feuerlabs/exometer.git"}},
    {exometer_influxdb, {git, "git@github.com:travelping/exometer_influxdb.git"}}
  ]}.

{overrides,
 [{override, fnotify, [
     {plugins, [pc]},
     {artifacts, ["priv/fnotify_drv.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.