{erl_opts,[debug_info,
           {parse_transform, lager_transform}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [  
    {lager, "3.5.2"},
    {gproc, "0.6.1"},    
    {erlydtl, "0.12.1"},  	
    {ibrowse, "4.4.0"},
    {jiffy, "0.14.11"},
    {exometer_core, "1.5.2"},
    {exometer_influxdb, "0.5.8"},    
    {fnotify, {git, "git@github.com:Feuerlabs/fnotify.git"}},    
  	{webmachine, {git, "https://github.com/webmachine/webmachine.git"}},
    {erlib, {git, "git@github.com:ulfa/erlib.git"}}
  ]}.

{overrides,
 [{override, fnotify, [
     {plugins, [pc]},
     {artifacts, ["priv/fnotify_drv.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.

{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
			{include_src, false}]}]}
		]}.

{relx, [{release, {janga_core, 
    "20160630.053251" %% relflow-release-version-marker
                  },
         [janga_core, mnesia, kernel,stdlib,lager,gproc,webmachine,ibrowse,fnotify, erlib, erlydtl, jiffy, exometer_core, exometer_influxdb]},
        {dev_mode, dev},
	{sys_config, ""},
        {include_erts, false},
        {extended_start_script, false}
        ]}.
