{sub_dirs, [
            "apps/janga_core",
            "apps/sue",
            "apps/moni",
            "apps/leni"
           ]}.

{lib_dirs, [
			"apps/janga_core",
			"apps/sue",
      "apps/moni",
      "apps/leni"            
            ]}.
{erl_opts,[debug_info,
           {parse_transform, lager_transform},
           {src_dirs, ["src"]}
          ]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

{deps, [  
  	{rebar_vsn_plugin, ".*" ,{git, "https://github.com/erlware/rebar_vsn_plugin.git", "master"}},
    {lager, "2\.1\.1", {git, "git@github.com:basho/lager.git", {tag, "2.1.1"}}},
    {gproc, ".*", {git, "git@github.com:uwiger/gproc.git", "master"}},
  	{erlib, ".*", {git, "git@github.com:ulfa/erlib.git", "HEAD"}},
    {erlydtl, ".*", {git, "git@github.com:erlydtl/erlydtl.git", "HEAD"}},
    {ibrowse, ".*", {git, "git@github.com:cmullaparthi/ibrowse.git", "HEAD"}},
    {jiffy, ".*", {git, "git@github.com:davisp/jiffy.git", "HEAD"}},    
  	{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
  ]}.

{plugin_dir, "deps/rebar_vsn_plugin/src"}.
{plugins, [rebar_vsn_plugin]}.